<div class="videos-ive-created-container1">
  <div class="videos-ive-created-container2">
    <app-header rootClassName="headerroot-class-name7"></app-header>
  </div>
  <div class="videos-ive-created-container3">
    <span class="videos-ive-created-text1">
      <span>Film Projects</span>
      <br />
    </span>
  </div>
  <div class="videos-ive-created-container4">
    <div class="videos-ive-created-container5">
      <a
        href="https://youtu.be/guoJuU2yDgU?si=V6sODa3yPF-lnC5a"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link1"
      >
        <img
          src="https://www.alyssamjames.com/static/images/projects/Doc.png"
          class="videos-ive-created-image1"
        />
      </a>
      <a
        href="https://www.alyssamjames.com/static/images/projects/Sweet Memories with Intro.mp4"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link2"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/Sweetmems.png"
          class="videos-ive-created-image2"
        />
      </a>
      <a
        href="https://youtu.be/5kyOmfCEDKQ?si=3yjzKwLm4sWbBapQ"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link3"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/left.png"
          class="videos-ive-created-image3"
        />
      </a>
      <a
        href="https://www.alyssamjames.com/static/images/projects/CoffeeSmtih 15 sec.mp4"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link4"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/15.png"
          class="videos-ive-created-image4"
        />
      </a>
      <a
        href="https://www.alyssamjames.com/static/images/projects/30seccommercial.mp4"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link5"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/30.png"
          class="videos-ive-created-image5"
        />
      </a>
      <a
        href="https://www.alyssamjames.com/static/images/projects/60secCommerical.mp4"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link6"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/60.png"
          class="videos-ive-created-image6"
        />
      </a>
      <a
        href="https://www.alyssamjames.com/static/images/projects/Digital Whispers.mp4"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link7"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/digitalwhisper.png"
          class="videos-ive-created-image7"
        />
      </a>
      <a
        href="https://youtu.be/sljXNOrxg24?si=tzidQVptJnE1kTCA"
        target="_blank"
        rel="noreferrer noopener"
        class="videos-ive-created-link8"
      >
        <img
          alt="image"
          src="https://www.alyssamjames.com/static/images/projects/isolated.png"
          class="videos-ive-created-image8"
        />
      </a>
    </div>
  </div>
  <app-footer rootClassName="footerroot-class-name7"></app-footer>
</div>
