<div class="work-container1">
  <app-header rootClassName="headerroot-class-name10"></app-header>
  <div class="work-gallery">
    <div class="work-container2">
      <div class="work-container3">
        <div class="work-container4">
          <a routerLink="/portraits" class="work-navlink1">
            <div class="work-container5">
              <gallery-card21
                title="Portraits"
                imageSrc="https://www.alyssamjames.com/static/images/portraits/IMG_0754.JPG"
                description="Explore a gallery of emotions and stories through my lens. Each portrait is a unique tale, a frozen moment that captures the essence of individuals. From candid authenticity to carefully composed elegance, welcome to a world where every frame speaks volumes"
                rootClassName="rootClassName15"
              ></gallery-card21>
            </div>
          </a>
          <a routerLink="/product-photography" class="work-navlink2">
            <div class="work-container6">
              <gallery-card21
                title="Product Photography"
                imageSrc="https://www.alyssamjames.com/static/images/Product/IMG_9313.jpg"
                description="Explore a collection of thoughtfully captured product images. From clean, minimalist shots to detailed close-ups, each photograph aims to showcase your items authentically. Welcome to a gallery where the focus is on the products, speaking for themselves through the lens of simplicity and clarity."
                rootClassName="rootClassName16"
              ></gallery-card21>
            </div>
          </a>
        </div>
        <a routerLink="/b-roll1" class="work-navlink3">
          <div class="work-container7">
            <gallery-card21
              title="B-Roll"
              imageSrc="https://www.alyssamjames.com/static/images/B-roll/thumbnail.png"
              description="Discover a curated B-roll gallery – a visual toolkit for elevating your storytelling. From dynamic scenes to seamless transitions, each clip adds depth and richness to your projects. Simplify your storytelling with our versatile B-roll collection."
              rootClassName="rootClassName14"
            ></gallery-card21>
          </div>
        </a>
      </div>
      <a routerLink="/b-roll11" class="work-navlink4">
        <div class="work-container8">
          <gallery-card21
            title="Landscapes &amp; Nature"
            imageSrc="https://www.alyssamjames.com/static/images/Landscape/IMG_1642.JPG"
            description="Discover the beauty of nature in simple snapshots. From mountains to cities, these photos capture the peaceful essence of landscapes. Join in and enjoy the simplicity of the great outdoors"
            rootClassName="rootClassName13"
          ></gallery-card21>
        </div>
      </a>
    </div>
    <a routerLink="/videos-ive-created" class="work-navlink5">
      <div class="work-container9">
        <gallery-card21
          title="Film Projects"
          imageSrc="https://www.alyssamjames.com/static/images/AlyssaJamesPortfolio.png"
          description="Explore my video gallery – a showcase of diverse creations. From captivating stories to vibrant moments, each video is a unique journey. Join me in this visual adventure, where every clip unfolds a new narrative"
          rootClassName="gallery-card21root-class-name20"
        ></gallery-card21>
      </div>
    </a>
  </div>
  <app-footer rootClassName="footerroot-class-name10"></app-footer>
</div>
