<div class="landscape-nature-photography-container1">
  <div class="landscape-nature-photography-container2">
    <app-header rootClassName="headerroot-class-name6"></app-header>
  </div>
  <div class="landscape-nature-photography-container3">
    <span class="landscape-nature-photography-text">Landscape Photography</span>
  </div>
  <div class="landscape-nature-photography-container4">
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/01HG4SKH8GE0EM0HSBS9M2Q56G-low-res-branded.jpg"
      class="landscape-nature-photography-image1"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/universal.jpg"
      class="landscape-nature-photography-image2"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/galaxys edge.PNG"
      class="landscape-nature-photography-image3"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/IMG_1192.JPG"
      class="landscape-nature-photography-image4"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/IMG_1642.JPG"
      class="landscape-nature-photography-image5"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/IMG_1403.JPG"
      class="landscape-nature-photography-image6"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/IMG_2229.JPG"
      class="landscape-nature-photography-image7"
    />
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/Landscape/IMG_1661-2.jpg"
      class="landscape-nature-photography-image8"
    />
  </div>
  <app-footer rootClassName="footerroot-class-name5"></app-footer>
</div>
