<div class="about-container1">
  <app-header rootClassName="headerroot-class-name"></app-header>
  <h1 class="about-text10">About</h1>
  <div class="about-container2"><h1 class="about-text11">Alyssa James</h1></div>
  <div class="about-hero">
    <div class="about-container3">
      <div class="about-container4">
        <span class="about-text12">
          <span class="about-text13">
            I&apos;ve been passionate about the entertainment industry since I
            was little. It started in dance, choir, and theatre, as I got older
            I found more interest in behind-the-scenes. In high school, I worked
            on the school news as a writer and editor. I also worked in the
            broadcasting booth on the news and at football games switching the
            live feed on our Jumbotron.
          </span>
          <br class="about-text14" />
          <span class="about-text15">​</span>
          <br class="about-text16" />
          <span class="about-text17">
            I graduated from Full Sail University in December 2023 with a
            Bachelor of Science in Digital Cinematography. I&apos;ve been
            extremely grateful to have worked on several different productions
            during my time at Full Sail, I&apos;ve made a commercial, mini-doc,
            and several short films. 
          </span>
          <br class="about-text18" />
          <br class="about-text19" />
          <span class="about-text20">
            Since graduating college I&apos;ve been working on expanding my
            portfolio with personal projects as well as working with small
            creators trying to bring their videos to a larger audience with
            TikTok and Instagram reels. Currently, I am the Editor for the Do It
            For The Dogs Fellowship with WA2S.
          </span>
          <br class="about-text21" />
          <span class="about-text22">​</span>
          <br class="about-text23" />
          <span class="about-text24">
            I&apos;m constantly perfecting the things I&apos;m passionate about.
            I&apos;m looking at everything with a different perspective, whether
            it&apos;s for photography, videoing, or a new way to edit something
            together. 
          </span>
          <br />
        </span>
      </div>
    </div>
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/IMG_0459.JPG"
      class="about-image"
    />
  </div>
  <app-footer rootClassName="footerroot-class-name1"></app-footer>
</div>
