<div class="product-photography-container1">
  <div class="product-photography-container2">
    <app-header rootClassName="headerroot-class-name4"></app-header>
  </div>
  <div class="product-photography-container3">
    <span class="product-photography-text">Product Photography</span>
  </div>
  <div class="product-photography-container4">
    <div class="product-photography-container5">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/coffeesmith.JPG"
        class="product-photography-image1"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/IMG_0271.jpg"
        class="product-photography-image2"
      />
    </div>
    <div class="product-photography-container6">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/IMG_3502.png"
        class="product-photography-image3"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/IMG_4085 2.JPG"
        class="product-photography-image4"
      />
    </div>
  </div>
  <div class="product-photography-container7"></div>
  <div class="product-photography-container8">
    <div class="product-photography-container9">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/stacked dobuts.PNG"
        class="product-photography-image5"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/IMG_3575.PNG"
        class="product-photography-image6"
      />
    </div>
  </div>
  <app-footer rootClassName="footerroot-class-name4"></app-footer>
</div>
