<div class="home-container1">
  <app-header rootClassName="headerroot-class-name1"></app-header>
  <div class="home-hero1">
    <div class="home-hero2 heroContainer">
      <div class="home-container2">
        <h1 class="home-hero-heading">
          <span class="home-text1">Videographer | Photographer | Editor</span>
          <br />
        </h1>
        <span class="home-hero-sub-heading">
          <span class="bodyLarge">
            Professional Videographer, Photographer and Editor.
          </span>
          <br class="bodyLarge" />
          <br class="bodyLarge" />
          <span>
            Alyssa is a versatile visual artist based in Des Moines, Iowa,
            seamlessly blending the roles of videographer, photographer, and
            editor. With a passion for storytelling, she crafts compelling
            narratives through the lens and the editing suite.
          </span>
          <span class="bodyLarge"> </span>
        </span>
        <div class="home-btn-group">
          <a routerLink="/work" class="home-hero-button1 buttonFilled">
            View Portfolio
          </a>
          <a routerLink="/about" class="home-hero-button2 buttonFlat">
            Learn More →
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="home-container3">
    <span class="home-text8">Videographer/Editor Demo Reel</span>
  </div>
  <div class="home-container4">
    <video
      src="https://www.alyssamjames.com/static/images/projects/demoreel.mp4"
      loop="true"
      muted
      poster="https://www.alyssamjames.com/static/images/projects/demoreel.png"
      controls="true"
      class="home-video"
    ></video>
  </div>
  <div class="home-container5">
    <div class="home-container6">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Random/ShallowDepth.JPG"
        class="home-image1"
      />
    </div>
    <div class="home-container7">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/Product/IMG_4085 2.JPG"
        class="home-image2"
      />
    </div>
  </div>
  <div class="home-container8">
    <app-footer rootClassName="footerroot-class-name"></app-footer>
  </div>
</div>
