<div class="portraits-container1">
  <div class="portraits-container2">
    <app-header rootClassName="headerroot-class-name3"></app-header>
  </div>
  <div class="portraits-container3">
    <span class="portraits-text">Portrait Photography</span>
  </div>
  <div class="portraits-container4">
    <div class="portraits-container5">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/IMG_1959.JPG"
        class="portraits-image1"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/IMG_0566.JPG"
        class="portraits-image2"
      />
    </div>
    <div class="portraits-container6">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/IMG_0797.JPG"
        class="portraits-image3"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/IMG_0754.JPG"
        class="portraits-image4"
      />
    </div>
    <div class="portraits-container7">
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/IMG_1296.JPG"
        class="portraits-image5"
      />
      <img
        alt="image"
        src="https://www.alyssamjames.com/static/images/portraits/Damian.png"
        class="portraits-image6"
      />
    </div>
  </div>
  <div class="portraits-container8">
    <img
      alt="image"
      src="https://www.alyssamjames.com/static/images/portraits/Tyler_2022.png"
      class="portraits-image7"
    />
  </div>
  <app-footer rootClassName="footerroot-class-name3"></app-footer>
</div>
