<div class="working-work-back-up-container1">
  <div class="working-work-back-up-gallery">
    <div class="working-work-back-up-container2">
      <div class="working-work-back-up-container3">
        <div class="working-work-back-up-container4">
          <div class="working-work-back-up-container5">
            <gallery-card21
              title="Portraits"
              imageSrc="https://www.alyssamjames.com/static/images/portraits/IMG_0754.JPG"
              description="Explore a gallery of emotions and stories through my lens. Each portrait is a unique tale, a frozen moment that captures the essence of individuals. From candid authenticity to carefully composed elegance, welcome to a world where every frame speaks volumes"
              rootClassName="rootClassName24"
            ></gallery-card21>
          </div>
          <div class="working-work-back-up-container6">
            <gallery-card21
              title="Product Photography"
              imageSrc="https://www.alyssamjames.com/static/images/Product/IMG_9313.jpg"
              description="Explore a collection of thoughtfully captured product images. From clean, minimalist shots to detailed close-ups, each photograph aims to showcase your items authentically. Welcome to a gallery where the focus is on the products, speaking for themselves through the lens of simplicity and clarity."
              rootClassName="rootClassName25"
            ></gallery-card21>
          </div>
        </div>
        <div class="working-work-back-up-container7">
          <gallery-card21
            title="B-Roll"
            imageSrc="https://www.alyssamjames.com/static/images/B-roll/thumbnail.png"
            description="Discover a curated B-roll gallery – a visual toolkit for elevating your storytelling. From dynamic scenes to seamless transitions, each clip adds depth and richness to your projects. Simplify your storytelling with our versatile B-roll collection."
            rootClassName="rootClassName23"
          ></gallery-card21>
        </div>
      </div>
      <div class="working-work-back-up-container8">
        <gallery-card21
          title="Landscapes &amp; Nature"
          imageSrc="https://www.alyssamjames.com/static/images/Landscape/IMG_1642.JPG"
          description="Discover the beauty of nature in simple snapshots. From mountains to cities, these photos capture the peaceful essence of landscapes. Join in and enjoy the simplicity of the great outdoors"
          rootClassName="rootClassName22"
        ></gallery-card21>
      </div>
    </div>
    <div class="working-work-back-up-container9">
      <gallery-card21
        rootClassName="gallery-card21root-class-name21"
      ></gallery-card21>
    </div>
  </div>
</div>
